/* Place custom css here. */
@reference './app.css';

.float-image {
  float: left;
  margin-right: 1rem;
  margin-bottom: 0rem;
  margin-top: 0.5rem;
}

table td, table th {
  vertical-align: top;
}
